  <div class="dialog">
    <div class="dialog__container">
      <div class="dialog__header">
        <ion-icon class="icon icon-new" name="document-text-outline"></ion-icon>
        <ion-icon class="icon icon-close" name="close-outline"></ion-icon>
      </div>
      <div class="dialog__content">
        <div class="dialog__form form">
          <form action="">
            <div class="form__group">
              <label for="name" class="form__label">
                <ion-icon class="icon icon-contact" name="person-outline"></ion-icon>
              </label>
              <input class="form__input" type="text" id="name" placeholder="Khách hàng">
            </div>
            <div class="form__group">
              <label class="form__label" for="start-date">
                <ion-icon class="icon icon-calendar" name="calendar-outline"></ion-icon>
              </label>
              <input class="form__input date-picker" type="text" id="start-date" placeholder="Ngày cắm" autocomplete="off">
            </div>
            <div class="form__group">
              <label class="form__label" for="quality">
                <ion-icon class="icon icon-water" name="water-outline"></ion-icon>
              </label>
              <input class="form__input" type="number" id="quality" placeholder="Số lượng">
            </div>
            <div class="form__group">
              <input class="form__input" type="submit">
            </div>
          </form>
        </div>
      </div>
      <div class="dialog__footer">
        <p>Footer</p>
      </div>
    </div>
  </div>
