<header class="header">
  <a href="#" class="header__logo">
    <img src="img/alfred-logo-trans.png" alt="LOGO">
  </a>
  <div class="search">
    <input type="search" id="site-search" class="search__input" name="q"
     aria-label="Search through site content">
    <svg class="search__icon">
      <use xlink:href="img/sprite.svg#icon-search"></use>
    </svg>
  </div>
  <div class="profile">
    <a class="unlink login" href="/login">
      <svg class="login__icon">
        <use xlink:href="img/sprite.svg#icon-login"></use>
      </svg>
      <span class="login__label">Login</span>
    </a>
  </div>
</header>
