// COLORS VAR
$primary-color-dark:   #388E3C;
$primary-color:        #4CAF50;
$primary-color-light:  #C8E6C9;
$primary-color-text:   #FFFFFF;
$accent-color:         #CDDC39;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

// INDICATOR COLOR
$indicator-color-green: #27ae60;
$indicator-color-red: #e74c3c;
$indicator-color-yellow: #f1c40f;


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;


// FONT
$default-font-size: 1.6rem;

:root {
  --color-black: #212121;
  --color-text-white: #FFF;
  --color-accent: #CDDC39;
  --color-primary: #4CAF50;
  --color-alert: #e74c3c;
  --color-background: #BDBDBD
}
