<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#if dev_mode}}
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https: http://localhost:35729; style-src 'self' 'unsafe-inline' https:; connect-src 'self' ws://localhost:35729 ws://localhost:* https:;">
  {{else}}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{/if}}

  <link rel="stylesheet" href="vendor/tiny-date-picker-3.2.8/tiny-date-picker.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type"image/png" href="img/favicon.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <title>Alfred</title>
</head>
<body class="container">
  {{{body}}}
  <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
  <script src="vendor/tiny-date-picker-3.2.8/dist/tiny-date-picker.min.js"></script>
  <script src="js/bundle.js"></script>
  {{#if dev_mode}}
    <script>
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
      ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
  {{/if}}
</body>
</html>
