/* $primary-color-dark:   #388E3C; */
/* $primary-color:        #4CAF50; */
/* $primary-color-light:  #C8E6C9; */
/* $primary-color-text:   #FFFFFF; */
/* $accent-color:         #CDDC39; */
/* $primary-text-color:   #212121; */
/* $secondary-text-color: #757575; */
/* $divider-color:        #BDBDBD; */

/* // INDICATOR COLOR */
/* $indicator-color-green: #27ae60; */
/* $indicator-color-red: #e74c3c; */
/* $indicator-color-yellow: #f1c40f; */

:root {
  --color-black: #212121;
  --color-text-white: #FFF;
  --color-accent: #CDDC39;
  --color-primary: #4CAF50;
  --color-alert: #e74c3c;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font: 1.6rem/1.8rem OpenSans, Arial, sans-serif;
}

#app {
  display: grid;
  grid-template-columns: minmax(min-content, 25rem) 1fr;
  grid-template-rows: min-content auto minmax(min-content, 5rem);
  height: 100vh;
  color: var(--color-black);
}

.logo img {
  height: 4rem;
}


svg.icon-logout {
  width: 30px;
  height: 30px;
  margin-left: .8rem;
}

header {
  grid-column: 1/-1;
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-text-white);
  height: 4rem;
}

main {
}

aside {
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside .main-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(205, 220, 57, .5);
  color: var(--color-primary);
  flex: 1;
}

aside .user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-black);
  color: var(--color-text-white);
}
aside .user svg {
  width: 5rem;
  height: 5rem;
  fill: currentColor;
}

aside .main-nav svg {
  width: 4rem;
  height: 4rem;
}

aside .main-nav-item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  padding-left: 2rem;
  position: relative;
  width: 100%;
}

aside .main-nav-item .icon-add {
  margin-left: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

aside .main-nav-item .icon-add:hover {
  color: var(--color-alert);
}

aside .main-nav-item:not(:last-child)::after {
  position: absolute;
  left: 2rem;
  top: 6rem;
  content: "";
  display: inline-block;
  height: 1px;
  width: 20rem;
  background-color: var(--color-primary);
}

aside .main-nav-item span{
  font-weight: 500;
  font-size: 2rem;
  margin-left: 1rem;
}

aside .main-nav-item.active {
  background-color: var(--color-text-white);
  width: 100%;
}
aside .main-nav-item.active::after {
  width: 0;
}

aside .main-nav-item:not(.active):hover {
  cursor: pointer;
  background-color: #DCEDC8;
  width: 100%;
}

footer {
  grid-column: 2/-1;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  align-items: center;
  list-style: none;
}


.link:link,
.link:visited {
  color: currentColor;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
