form {
  background-color: #f0f0f0;
  padding-bottom: 10px;
  position: relative;
}
form .heading {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--color-alert);
  line-height: 1.5;
  padding: 15px 20px 10px;
}

form legend {
  color: var(--color-alert);
}

form fieldset {
  margin: 10px 20px;
  padding: 10px;
}

.form-group:not(:last-child) {
  margin-bottom: 1rem;
}

.form-group input {
  display: block;
  font: 14px/18px OpenSans, Arial, sans-serif;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  background: #fff;
  padding: 3px 5px;
  outline: none;
}

.form-group input:focus {
  border-color: var(--color-primary);
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}

form .btn {
  font-family: inherit;
  font-size: 1.4rem;
  background-color: var(--color-primary);
  width: 10rem;
  height: 30px;
  padding: 0 20px;
  border-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  outline: none;
  border: none;
  color: var(--color-text-white);
  cursor: pointer;
}

form .btn.btn-cancel {
  line-height: 2;
  background: #fdfdfd;
  color: var(--color-black);
}

form .btn.btn-cancel:hover {
  background: #e0e0e0;
}

form .actions {
  margin: 10px 20px;
  display: flex;
  justify-content: flex-end;
}

form .actions > *:first-child {
  margin-right: 10px;
}

.add-order-form {
  border-radius: 5px;
}

.add-order-form .data-set {
  display: flex;
}

.form-group {
  position: relative;
}

.form-group .date-picker {
  width: calc(100% - 25px);
  cursor: pointer;
}

label.icon-calendar {
  position: absolute;
  top: 25px;
  right: 0;
}

label.icon-calendar svg {
  width: 20px;
  height: 20px;
  color: #666;
}



.v-select {
  .vs__open-indicator {
    transform: scale(.8);
  }

  .vs__clear {
    display: none;
  }

  .vs__selected {
    margin: 0px 2px 0px 2px;
  }
  background-color: #fff;
  border: 1px solid #d0d0d0;
  padding: 0 5px 0 0;
  margin: 0;
  height: 26px;
  ul {
    top: calc(100% + 5px);
  }
  div {
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: unset;
    border: none;
  }
  input {
    padding: 4px !important;
    margin: 0 !important;
    height: 100%;
    margin-bottom: 5px;
    border-radius: unset;
    border: none;
    &:focus {
      border: none;
    }
  }
}

.vs--open {
  border: 1px solid var(--color-primary);
  .vs__open-indicator {
    transform: rotate(180deg) scale(.8);
  }
}

label.icon-calendar {
  position: absolute;
  top: 35px;
  right: 3px;
  cursor: pointer;
}

label.icon-calendar svg {
  width: 18px;
  height: 18px;
  color: #666;
}
