.error {
  width: 60%;
  margin: 20rem auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: $indicator-color-red;
  }
}
