//Navigator
.nav {
  background-color: $primary-color-dark;
  color: $primary-color-light;
  height: 50px;
  display: flex;
  justify-content: center;

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0.3;
  }

  &__item {
    font-weight: 500;
    a:link,
    a:visited {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      transition: all .2s;
    }
    a:hover,
    a:active {
      color: $primary-color-text;
      border-bottom: 3px solid $primary-color-text;
    }
  }
}
