.dialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba($secondary-text-color, .5);

  &__container {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-color-text;
    color: $primary-text-color;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.23);
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-text-color;

    .icon-new {
      font-size: 6rem;
    }

    .icon-close {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 3rem;
      cursor: pointer;
    }
  }
}
