.form {
  &__input {
    font-family: inherit;
    font-size: 1.8rem;
    border: none;
    outline: none;
    height: 2rem;
    border-bottom: 1px solid $divider-color;
    line-height: 1.5em;
    flex: 1;
    position: relative;
    &:focus {
      border-bottom: 1px solid $primary-color;
    }
  }

  &__input[type="date"] {
    &::-webkit-calendar-picker-indicator {
      background: transparent;
      color: transparent;
      cursor: pointer;
      height: auto;
      position: absolute;
      width: auto;
    }
  }

  &__group {
    display: flex;
    align-items: center;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__label {
    flex-basis: 3rem;
    margin-right: .5rem;
    display: flex;
    align-items: center;
  }

  .icon {
    color: $secondary-text-color;
    font-size: 2rem;
  }
}
