<form action="#" class="add-order-form">
  <h2 class="heading">Tạo đơn hàng mới</h2>
  <div class="data-set">
    <fieldset>
      <legend>Đơn hàng</legend>
      <div class="form-group">
        <label for="client">Khách hàng</label>
        <input type="text" id="client">
      </div>
      <div class="form-group">
        <label for="category">Tên giống</label>
        <input type="text" id="category">
      </div>
      <div class="form-group">
        <label for="amount">Số lượng</label>
        <input type="number" id="amount">
      </div>
    </fieldset>
    <fieldset>
      <legend>Thông tin</legend>
      <div class="form-group">
        <label for="origin">Nguồn gốc</label>
        <input type="text" id="origin">
      </div>
      <div class="form-group">
        <label for="start-date">Ngày cắm</label>
        <input type="text" id="start-date" class="date-picker" autocomplete="off">
        <label for="start-date">
          <svg>
            <use xlink:href="app/img/sprite.svg#icon-calendar"></use>
          </svg>
        </label>
      </div>
      <div class="form-group">
        <label for="end-date">Ngày xuất</label>
        <input type="text" id="end-date" class="date-picker" autocomplete="off">
      </div>
    </fieldset>
  </div>
    <div class="actions">
      <button class="btn btn-cancel dismiss">Cancel</button>
      <input type="submit" class="btn btn-submit" value="Create">
    </div>
</form>
