<header>
  <div class="logo">
    <img src="app/img/alfred-logo-trans.png" alt="Logo">
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="link logout" href="#">
        <span>Log out</span>
        <svg class="icon-logout">
          <use xlink:href="app/img/sprite.svg#icon-logout"></use>
        </svg>
      </a>
    </li>
  </ul>
</header>
<aside>
  <div class="user">
    <svg>
      <use xlink:href="app/img/sprite.svg#icon-user"></use>
    </svg>
    <span>User name</span>
  </div>
  <ul class="main-nav">
    <li class="main-nav-item">
      <svg>
        <use xlink:href="app/img/sprite.svg#icon-speedometer"></use>
      </svg>
      <span>Tổng quan</span>
    </li>
    <li class="main-nav-item active">
      <svg>
        <use xlink:href="app/img/sprite.svg#icon-file-tray"></use>
      </svg>
      <span>Đơn Hàng</span>
      <svg class="icon-add" id="add-order">
        <use xlink:href="app/img/sprite.svg#icon-add"></use>
      </svg>
    </li>
    <li class="main-nav-item">
      <svg>
        <use xlink:href="app/img/sprite.svg#icon-people"></use>
      </svg>
      <span>Khách hàng</span>
    </li>
    <li class="main-nav-item">
      <svg>
        <use xlink:href="app/img/sprite.svg#icon-body"></use>
      </svg>
      <span>Nhân viên</span>
    </li>
    <li class="main-nav-item">
      <svg>
        <use xlink:href="app/img/sprite.svg#icon-cash"></use>
      </svg>
      <span>Công nợ</span>
    </li>
  </ul>
</aside>
<main>
  Main
</main>
<footer>
  Footer
</footer>
