<div class="table-container">
  <table class="table table-orders">
    <thead>
      <tr>
        <th>Khách hàng</th>
        <th>Tên giống</th>
        <th>Số lượng</th>
        <th>Nguồn gốc</th>
        <th>Ngày cắm</th>
        <th>Ngày xuất</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders as |order|}}
        <tr>
          <td>{{order.client}}</td>
          <td>{{order.category}}</td>
          <td>{{order.amount}}</td>
          <td>{{order.origin}}</td>
          <td>{{order.start_date}}</td>
          <td>{{order.end_date}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
