<div class="table-container">
  <table class="table table-orders">
    <thead>
      <tr>
        <th>Khách hàng</th>
        <th>Tên giống</th>
        <th>Số lượng</th>
        <th>Nguồn gốc</th>
        <th>Ngày cắm</th>
        <th>Ngày xuất</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders as |order|}}
        <tr>
          <td>
            <span>{{order.client}}</span>
            <span>Khách hàng</span>
          </td>
          <td>
            <span>{{order.category}}</span>
            <span>Tên giống</span>
          </td>
          <td>
            <span>{{order.amount}}</span>
            <span>Số lượng</span>
          </td>
          <td>
            <span>{{order.origin}}</span>
            <span>Nguồn gốc</span>
          </td>
          <td>
            <span>{{order.start_date}}</span>
            <span>Ngày cắm</span>
          </td>
          <td>
            <span>{{order.end_date}}</span>
            <span>Ngày xuất</span>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
