<div class="orders-content">
  <div class="table-content">
    <table class="table table-orders">
      <thead>
        <tr>
          <th>Khách hàng</th>
          <th>Tên giống</th>
          <th>Số lượng</th>
          <th>Nguồn gốc</th>
          <th>Ngày cắm</th>
          <th>Ngày xuất</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders as |order|}}
        <tr data-id="{{order._id}}">
            <td>
              <span>{{order.client}}</span>
              <span>Khách hàng</span>
            </td>
            <td>
              <span>{{order.category}}</span>
              <span>Tên giống</span>
            </td>
            <td>
              <span>{{order.amount}}</span>
              <span>Số lượng</span>
            </td>
            <td>
              <span>{{order.origin}}</span>
              <span>Nguồn gốc</span>
            </td>
            <td>
              <span>{{order.start_date}}</span>
              <span>Ngày cắm</span>
            </td>
            <td>
              <span>{{order.end_date}}</span>
              <span>Ngày xuất</span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="order-detail-edit">
    <div class="form-group">
      <label for="client">Khách hàng</label>
      <input type="text" id="client" name="client" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="category">Tên giống</label>
      <input type="text" id="category" name="category" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="amount">Số lượng</label>
      <input type="number" id="amount" name="amount" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="origin">Nguồn gốc</label>
      <input type="text" id="origin" name="origin" autocomplete="off" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="start-date">Ngày cắm</label>
      <input type="text" id="start-date" name="start_date" readonly="readonly" class="date-picker" autocomplete="off">
      <label for="start-date" class="icon-calendar">
        <svg class>
          <use xlink:href="app/img/sprite.svg#icon-calendar"></use>
        </svg>
      </label>
    </div>
    <div class="form-group">
      <label for="end-date">Ngày xuất</label>
      <input type="text" id="end-date" name="end_date" class="date-picker" readonly="readonly" autocomplete="off">
      <label for="end-date" class="icon-calendar">
        <svg class>
          <use xlink:href="app/img/sprite.svg#icon-calendar"></use>
        </svg>
      </label>
    </div>
  </div>
</div>
