.landing {
  height: 100vh;
  background-image: linear-gradient(
  to right bottom,
    rgba($primary-color, .7),
    rgba($primary-color-dark, .7)),
  url(../img/dalat.jpg);
  background-size: cover;
}
