.orders {
  color: $primary-text-color;
  .content {
    &__head {
      display: flex;
      align-items: center;
      justify-content: stretch;
      margin: 2rem 2rem 3rem 2rem;
    }
    &__body {
      margin: 1rem 2rem;
    }
    h3 {
      margin-right: 2rem;
    }
    .header--md {
      font-size: 2.8rem;
    }
    .flow-btn {
      margin-left: auto;
    }

    &__field {
      &--prop {
        font-size: 1.6rem;
      }
      &--description {
        font-size: 1.2rem;
        color: $secondary-text-color;
      }
    }

    &__group {
      &:hover {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
      }
      cursor: pointer;
      margin-top: 2rem;
      border-radius: 10px;
      padding: 2px 2px 0 2px;
      .indicator {
        margin-top: 1.5rem;
        width: 60rem;
        border-bottom: 2px solid $indicator-color-red;

        &--1 {
          width: 70rem;
          border-bottom: 2px solid $indicator-color-green;
        }
        &--2 {
          width: 50rem;
          border-bottom: 2px solid $indicator-color-yellow;
        }
      }
      transition: all .2s ease;
    }

    &__item {
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      justify-self: flex-start;
      width: 5rem;
      height: 5rem;
      border: 2px solid $primary-color;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &--image {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
    &__field--head {
      display: flex;
      justify-content: flex-start;
      .name {
        margin-left: 2rem;
      }
    }
  }
}
